body {
    font-family:"Hirging Sans GB","Microsoft YaHei","Times New Roman",sans-serif;
  }

a {
  text-decoration:none;}
  a:hover {
      -webkit-transition: color .2s linear;
      -moz-transition: color .2s linear;
  }