@import url(http://fonts.googleapis.com/css?family=Overlock);
@import url(http://fonts.googleapis.com/css?family=Coda);

.home_body {
    font-family:"Hirging Sans GB","Microsoft YaHei","Times New Roman",sans-serif;
    text-align:left;
    color:rgb(102,102,102);
    font-size:12px;
    line-height:18px;
  }

#site-title {
    float:left;
    font-size:30px;
    line-height:36px;
    margin:0pt 0pt 18px;
    width:700px;
 }

header {
    font-family:"Overlock","Hiragino Sans GB"
    width:20%;
    height:20%;
    background-color:#ff00ff;
  }

a {
  text-decoration:none;}
  a:hover {
      -webkit-transition: color .2s linear;
      -moz-transition: color .2s linear;
  }
#main {
    background:none repeat scroll 0% rgb(255,255,255);
    margin-top:20px;
    padding:0pt 20px;
  }