body {
    font-family:"Hirging Sans GB","Microsoft YaHei","Times New Roman",sans-serif;
    margin-left:auto;
    margin-right:auto;
    width:50em;
    text-align:left;
  }

a {
  text-decoration:none;}
  a:hover {
      -webkit-transition: color .2s linear;
      -moz-transition: color .2s linear;
  }